.nav-ul li {
  display: inline-block;
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav-ul li a {
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

.nav-ul {
  padding: 10px;
  margin: 0;
  background-color: #5B5CFF;
}

.footer {
  /* position: absolute; */
  /* bottom: 0; */
  text-align: center;
  width: 100%;
  background-color: #5B5CFF;
}


.register,
.addproduct {
  margin-left: 30%;
}

.nav-right {
  text-align: right;
}

.logo {
  width: 50px;
  float: left;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 20px;
}

.inputBox {
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid #5B5CFF;
}

/* .login {

} */

.app-button {
  margin: 30px;
  padding: 10px;
  width: 150px;
  background-color: skyblue;
  border: 1px solid;
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.invalid-input{
  margin-top: -21px;
  color: red;
  display: block;
  margin-left: 20px;

}

.head {
  margin: 5px;
}

.btn {
  margin: 5px;
  padding: 5px;
}

.product-list {
  text-align: center;
  margin-top: 50px;
}

.product-list ul li {
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}

.product-list ul {
  margin: 0;
}

.App-link {
  color: #61dafb;
}
.search{
  margin: 20px;
  width: 400px;
  height: 40px;
  border: 1px solid skyblue;
  padding-left: 15px;
}

.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  background: white;
}

.formbold-form-title {
  margin-bottom: 40px;
}
.formbold-form-title h3 {
  color: #07074D;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  width: 60%;
  margin-bottom: 20px;
}
.formbold-form-title p {
  font-size: 16px;
  line-height: 24px;
  color: #536387;
  width: 70%;
}
.formbold-form-input {
  margin: 10px;
  text-align: center;
  width: 100%;
  padding: 14px 22px;
  border-radius: 6px;
  border: 1px solid #DDE3EC;
  background: #FAFAFA;
  font-weight: 500;
  font-size: 16px;
  color: #536387;
  outline: none;
  resize: none;
}
.formbold-form-input:focus {
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
  text-align: center;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  padding: 14px 25px;
  border: none;
  font-weight: 500;
  background-color: #6A64F1;
  color: white;
  cursor: pointer;
  margin-top: 15px;
  margin: 10px;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}